body {
	background-color: #ffefea;
	font-family: 'Josefin Sans', sans-serif;
	width: 700px;

	/* background-color: lightgrey; */
	/* font-family: 'Josefin Sans', sans-serif;*/
	/* font-family: 'Comfortaa', cursive; */
}

* {
 	/*outline: red 1px solid; */
}

.wrapper {
	min-height: 100%;
	margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}

header {
	padding:1em 0;
	text-align:center;
	font-family: 'Comfortaa', cursive;
}

#orphic-title {
  position: relative;
  top: -9px;
  font-size: 2em;
}

#orphic-title-sub {
	font-size: .75em;
	text-align:center;
}


#oosearchform {
	text-align:center;
	padding:.5em 0;

}


#errorAlert {
	color: red;
	text-align: center;
}

.error-inactive {
	display:none;
}

#brainz {
	max-width: 700px;
}

#brainz-search-results {
	float: left;
	padding: 1em;
}

#mb-table-header {
	padding: 1em;
}

.results-table {
	padding: .5em;
    text-align: left;
}

.results-table th,td {
	padding: .5em;
	border-bottom: 1px solid #ddd;
}

.results-table th {
	font-weight: bold;
}

.active-table .music-brainz-result-row:hover {
	background-color: #f5f5f5;
	cursor: pointer;
}

#music-brainz-selected-row {
	background-color: #efeaff;
}

.inactive-table * {
	color: lightgrey;
}
.active-table * {
	color: black;
}

.brainz-inactive * {
	color: lightgrey;
	opacity: 0.8;
}

.brainz-active {
	color: black;
	opacity: 1.0;
}

.brainz-result-id-cell {
	display: none;
}

.music-brainz-proto-row {
	display:none;
}

#music-brainz-steppers-prev {
	float:left;	
}
#music-brainz-steppers-next {
	float:right;	
}
.music-brainz-steppers-inactive {
	display:none;
}


#youtube {
	float:left;
	padding: 1em;
	max-width: 700;
}

.youtube-thumb {
	float:left;
	margin-right: 10px;

}

.youtube-content {
	float:right;
	padding: 10px;
}

.youtube-content * {
	display:block;
	margin-bottom: 10px;
}



.spinner {
	display:inline-block;
	margin-left: 20px;
	margin-bottom: -5px;
	width: 20px;
	height: 20px;
	background-color: #333;
	
	border-radius: 100%;  
	-webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
	animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
	  0% { -webkit-transform: scale(0) }
	  100% {
	    -webkit-transform: scale(1.0);
	    opacity: 0;
	  }
}

@keyframes sk-scaleout {
	  0% { 
	    -webkit-transform: scale(0);
	    transform: scale(0);
	  } 100% {
	    -webkit-transform: scale(1.0);
	    transform: scale(1.0);
	    opacity: 0;
	  }
}