body {
	background-color: #ffefea;
	font-family: 'Josefin Sans', sans-serif;

	/* background-color: lightgrey; */
	/* font-family: 'Josefin Sans', sans-serif;*/
	/* font-family: 'Comfortaa', cursive; */
}

* {
 	/*outline: red 1px solid; */
}

header {
	padding:.5em 0;
	text-align:center;
	font-family: 'Comfortaa', cursive;
	font-size: 2em;
}

#oosearchform {
	text-align:center;
	padding:.5em 0;

}

footer {
	padding: 1em 0;
	text-align:center;
	font-family: 'Comfortaa', cursive;
	font-size: .5em;
}